In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
match = pd.read_csv('datasets/dim_match_summary.csv')
players = pd.read_csv('datasets/dim_players.csv')
bating = pd.read_csv('datasets/fact_bating_summary.csv')
bowling = pd.read_csv('datasets/fact_bowling_summary.csv')

In [3]:
match.head()

         team1        team2       winner     margin     matchDate match_id
0  Super Kings          KKR  Super Kings    27 runs  Oct 15, 2021  T203817
1     Capitals          KKR          KKR  3 wickets  Oct 13, 2021  T206442
2          RCB          KKR          KKR  4 wickets  Oct 11, 2021  T208597
3     Capitals  Super Kings  Super Kings  4 wickets  Oct 10, 2021  T201819
4     Capitals          RCB          RCB  7 wickets   Oct 8, 2021  T205942

In [4]:
players.head()

,name,team,battingStyle,bowlingStyle,playingRole
0,RuturajGaikwad,Super Kings,Right hand Bat,Right arm Offbreak,Batter
1,FafduPlessis,Super Kings,Right hand Bat,Legbreak,Middle order Batter
2,RobinUthappa,Super Kings,Right hand Bat,Right arm Medium,Batter
3,MoeenAli,Super Kings,Left hand Bat,Right arm Offbreak,Batting Allrounder
4,ShubmanGill,KKR,Right hand Bat,Right arm Offbreak,Opening Batter

In [5]:
bating.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60

In [6]:
bowling.head()

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.0,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.5,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.5,6,0,1,1,0

In [7]:
bating

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60
...,...,...,...,...,...,...,...,...,...,...,...
3263,T201566,Super Kings Vs Titans,Titans,3,SaiSudharsan,out,22,17,3,0,129.41
3264,T201566,Super Kings Vs Titans,Titans,4,HardikPandya,out,8,11,0,0,72.72
3265,T201566,Super Kings Vs Titans,Titans,5,VijayShankar,out,27,21,2,1,128.57
3266,T201566,Super Kings Vs Titans,Titans,6,RahulTewatia,not_out,15,14,1,1,107.14
3267,T201566,Super Kings Vs Titans,Titans,7,RashidKhan,not_out,10,3,1,1,333.33

# 1. Top 10 batsmen based on past 3 years total runs scored.

## So first we'll join two dataframes bating and match

In [8]:
bating.merge(match,on='match_id',how='left')

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR,team1,team2,winner,margin,matchDate
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3263,T201566,Super Kings Vs Titans,Titans,3,SaiSudharsan,out,22,17,3,0,129.41,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3264,T201566,Super Kings Vs Titans,Titans,4,HardikPandya,out,8,11,0,0,72.72,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3265,T201566,Super Kings Vs Titans,Titans,5,VijayShankar,out,27,21,2,1,128.57,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3266,T201566,Super Kings Vs Titans,Titans,6,RahulTewatia,not_out,15,14,1,1,107.14,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3267,T201566,Super Kings Vs Titans,Titans,7,RashidKhan,not_out,10,3,1,1,333.33,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"

In [9]:
bating_match = bating.merge(match,on='match_id',how='left')

In [10]:
bating_match[['batsmanName','runs','matchDate']]

         batsmanName  runs     matchDate
0     RuturajGaikwad    32  Oct 15, 2021
1       FafduPlessis    86  Oct 15, 2021
2       RobinUthappa    31  Oct 15, 2021
3           MoeenAli    37  Oct 15, 2021
4        ShubmanGill    51  Oct 15, 2021
...              ...   ...           ...
3263    SaiSudharsan    22  Mar 31, 2023
3264    HardikPandya     8  Mar 31, 2023
3265    VijayShankar    27  Mar 31, 2023
3266    RahulTewatia    15  Mar 31, 2023
3267      RashidKhan    10  Mar 31, 2023

[3268 rows x 3 columns]

In [11]:
bating_match[['batsmanName','runs','matchDate']].groupby('batsmanName')['runs'].sum().sort_values(ascending=False).head(10)

batsmanName
ShubmanGill        1851
FafduPlessis       1831
RuturajGaikwad     1593
KLRahul            1516
JosButtler         1509
ShikharDhawan      1392
ViratKohli         1385
SanjuSamson        1304
SuryakumarYadav    1225
GlennMaxwell       1214
Name: runs, dtype: int64

# 2. Top 10 batsmen based on past 3 years batting average. (min 60 balls faced in each season)

In [12]:
bating_match

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR,team1,team2,winner,margin,matchDate
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3263,T201566,Super Kings Vs Titans,Titans,3,SaiSudharsan,out,22,17,3,0,129.41,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3264,T201566,Super Kings Vs Titans,Titans,4,HardikPandya,out,8,11,0,0,72.72,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3265,T201566,Super Kings Vs Titans,Titans,5,VijayShankar,out,27,21,2,1,128.57,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3266,T201566,Super Kings Vs Titans,Titans,6,RahulTewatia,not_out,15,14,1,1,107.14,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3267,T201566,Super Kings Vs Titans,Titans,7,RashidKhan,not_out,10,3,1,1,333.33,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"

## According to the condition(min 60 balls faced in each season) let's first extract the season

In [15]:
bating_match['season'] = bating_match['matchDate'].str[-4:]

In [17]:
bating_match.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR,team1,team2,winner,margin,matchDate,season
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021

In [18]:
filtered_bating_match = bating_match[['batsmanName','out/not_out','runs','balls','season']]

In [19]:
filtered_bating_match.head()

      batsmanName out/not_out  runs  balls season
0  RuturajGaikwad         out    32     27   2021
1    FafduPlessis         out    86     59   2021
2    RobinUthappa         out    31     15   2021
3        MoeenAli     not_out    37     20   2021
4     ShubmanGill         out    51     43   2021

## Getting the list of the batsman with minimum 60 balls faced in each season

In [23]:
filtered_bating_match.pivot_table(values='balls',index='batsmanName',columns='season',aggfunc='sum')

season            2021   2022   2023
batsmanName
ABdeVilliers     211.0    NaN    NaN
AaronFinch         NaN   61.0    NaN
AbdulBasith        NaN    NaN    1.0
AbdulSamad        87.0    7.0  128.0
AbhijeetTomar      NaN    8.0    NaN
...                ...    ...    ...
YashDayal          NaN    1.0    NaN
YashDhull          NaN    NaN   23.0
YashasviJaiswal  168.0  194.0  382.0
YudhvirSingh       NaN    NaN    2.0
YuzvendraChahal   27.0    8.0    NaN

[264 rows x 3 columns]

In [24]:
filtered_bating_match.pivot_table(values='balls',index='batsmanName',columns='season',aggfunc='sum').dropna()

season             2021   2022   2023
batsmanName
AbdulSamad         87.0    7.0  128.0
AbhishekSharma     69.0  320.0  157.0
AidenMarkram      119.0  274.0  197.0
AjinkyaRahane       8.0  128.0  189.0
AmbatiRayudu      170.0  224.0  113.0
...                 ...    ...    ...
ViratKohli        339.0  294.0  457.0
WaninduHasaranga    2.0   43.0   28.0
WashingtonSundar   47.0   69.0   60.0
WriddhimanSaha    140.0  259.0  287.0
YashasviJaiswal   168.0  194.0  382.0

[82 rows x 3 columns]

In [27]:
filtered_bating_match.pivot_table(values='balls',index='batsmanName',columns='season',aggfunc='sum').dropna().info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, AbdulSamad to YashasviJaiswal
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2021    82 non-null     float64
 1   2022    82 non-null     float64
 2   2023    82 non-null     float64
dtypes: float64(3)
memory usage: 2.6+ KB

In [26]:
filtered_bating_match.pivot_table(
    values='balls',index='batsmanName',columns='season',aggfunc='sum').dropna().query(
        '(2021 >= 60.0) and (2022 >= 60.0)and (2023 >= 60.0)')

KeyError: 'True: boolean label can not be used without a boolean index'

In [ ]:
bating_match[['batsmanName','out/not_out','runs','balls']]

In [ ]:
bating_match[['batsmanName','out/not_out','runs','balls']].query('balls >= 60')

In [ ]:
filtered_bating_match=bating_match[['batsmanName','out/not_out','runs','balls']].query('balls >= 60')

In [ ]:
# Calculate total runs and total dismissals
batsman_stats = filtered_bating_match.groupby('batsmanName').agg(
    total_runs=('runs', 'sum'),
    dismissals=('out/not_out', lambda x: x[x == 'out'].count())
).reset_index()

In [ ]:
batsman_stats

In [ ]:
batsman_stats['batting_average'] = batsman_stats['total_runs'] / batsman_stats['dismissals']

In [ ]:
batsman_stats.query("batting_average != inf").sort_values(by='batting_average',ascending=False)

In [ ]:
bating_match[['batsmanName','out/not_out','runs','balls']].query('balls >= 60').groupby('batsmanName')['runs'].sum()

In [ ]:
bating_match[['batsmanName','out/not_out','runs','balls']].query('balls >= 60').groupby(['batsmanName','out/not_out'])['runs'].sum()

In [ ]:
bating_match[['batsmanName','out/not_out','runs','balls']].query(
'balls >= 60').groupby(
    ['batsmanName','out/not_out']).value_counts().reset_index()

In [ ]:
import pandas as pd

# Load the CSV file
batting_df = pd.read_csv('datasets/fact_bating_summary.csv')

# Filter batsmen who faced at least 60 balls in each season
ball_count = batting_df.groupby(['batsmanName']).balls.sum().reset_index()
valid_batsmen = ball_count[ball_count['balls'] >= 60]['batsmanName']

filtered_df = batting_df[batting_df['batsmanName'].isin(valid_batsmen)]

# Calculate total runs and total dismissals
batsman_stats = filtered_df.groupby('batsmanName').agg(
    total_runs=('runs', 'sum'),
    dismissals=('out/not_out', lambda x: x[x == 'out'].count())
).reset_index()

# Calculate batting average
batsman_stats['batting_average'] = batsman_stats['total_runs'] / batsman_stats['dismissals']

# Get the top 10 batsmen by batting average
top_10_batsmen = batsman_stats.sort_values(by='batting_average', ascending=False).head(10)

print(top_10_batsmen[['batsmanName', 'batting_average']])