In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
match = pd.read_csv('datasets/dim_match_summary.csv')
players = pd.read_csv('datasets/dim_players.csv')
bating = pd.read_csv('datasets/fact_bating_summary.csv')
bowling = pd.read_csv('datasets/fact_bowling_summary.csv')

In [3]:
match.head()

         team1        team2       winner     margin     matchDate match_id
0  Super Kings          KKR  Super Kings    27 runs  Oct 15, 2021  T203817
1     Capitals          KKR          KKR  3 wickets  Oct 13, 2021  T206442
2          RCB          KKR          KKR  4 wickets  Oct 11, 2021  T208597
3     Capitals  Super Kings  Super Kings  4 wickets  Oct 10, 2021  T201819
4     Capitals          RCB          RCB  7 wickets   Oct 8, 2021  T205942

In [4]:
players.head()

,name,team,battingStyle,bowlingStyle,playingRole
0,RuturajGaikwad,Super Kings,Right hand Bat,Right arm Offbreak,Batter
1,FafduPlessis,Super Kings,Right hand Bat,Legbreak,Middle order Batter
2,RobinUthappa,Super Kings,Right hand Bat,Right arm Medium,Batter
3,MoeenAli,Super Kings,Left hand Bat,Right arm Offbreak,Batting Allrounder
4,ShubmanGill,KKR,Right hand Bat,Right arm Offbreak,Opening Batter

In [5]:
bating.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60

In [6]:
bowling.head()

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.0,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.5,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.5,6,0,1,1,0

In [7]:
bating

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60
...,...,...,...,...,...,...,...,...,...,...,...
3263,T201566,Super Kings Vs Titans,Titans,3,SaiSudharsan,out,22,17,3,0,129.41
3264,T201566,Super Kings Vs Titans,Titans,4,HardikPandya,out,8,11,0,0,72.72
3265,T201566,Super Kings Vs Titans,Titans,5,VijayShankar,out,27,21,2,1,128.57
3266,T201566,Super Kings Vs Titans,Titans,6,RahulTewatia,not_out,15,14,1,1,107.14
3267,T201566,Super Kings Vs Titans,Titans,7,RashidKhan,not_out,10,3,1,1,333.33

# 1. Top 10 batsmen based on past 3 years total runs scored.

## So first we'll join two dataframes bating and match

In [8]:
bating.merge(match,on='match_id',how='left')

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR,team1,team2,winner,margin,matchDate
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3263,T201566,Super Kings Vs Titans,Titans,3,SaiSudharsan,out,22,17,3,0,129.41,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3264,T201566,Super Kings Vs Titans,Titans,4,HardikPandya,out,8,11,0,0,72.72,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3265,T201566,Super Kings Vs Titans,Titans,5,VijayShankar,out,27,21,2,1,128.57,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3266,T201566,Super Kings Vs Titans,Titans,6,RahulTewatia,not_out,15,14,1,1,107.14,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3267,T201566,Super Kings Vs Titans,Titans,7,RashidKhan,not_out,10,3,1,1,333.33,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"

In [9]:
bating_match = bating.merge(match,on='match_id',how='left')

In [10]:
bating_match[['batsmanName','runs','matchDate']]

         batsmanName  runs     matchDate
0     RuturajGaikwad    32  Oct 15, 2021
1       FafduPlessis    86  Oct 15, 2021
2       RobinUthappa    31  Oct 15, 2021
3           MoeenAli    37  Oct 15, 2021
4        ShubmanGill    51  Oct 15, 2021
...              ...   ...           ...
3263    SaiSudharsan    22  Mar 31, 2023
3264    HardikPandya     8  Mar 31, 2023
3265    VijayShankar    27  Mar 31, 2023
3266    RahulTewatia    15  Mar 31, 2023
3267      RashidKhan    10  Mar 31, 2023

[3268 rows x 3 columns]

In [11]:
bating_match[['batsmanName','runs','matchDate']].groupby('batsmanName')['runs'].sum().sort_values(ascending=False).head(10)

batsmanName
ShubmanGill        1851
FafduPlessis       1831
RuturajGaikwad     1593
KLRahul            1516
JosButtler         1509
ShikharDhawan      1392
ViratKohli         1385
SanjuSamson        1304
SuryakumarYadav    1225
GlennMaxwell       1214
Name: runs, dtype: int64

# 2. Top 10 batsmen based on past 3 years batting average. (min 60 balls faced in each season)

In [12]:
bating_match

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR,team1,team2,winner,margin,matchDate
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3263,T201566,Super Kings Vs Titans,Titans,3,SaiSudharsan,out,22,17,3,0,129.41,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3264,T201566,Super Kings Vs Titans,Titans,4,HardikPandya,out,8,11,0,0,72.72,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3265,T201566,Super Kings Vs Titans,Titans,5,VijayShankar,out,27,21,2,1,128.57,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3266,T201566,Super Kings Vs Titans,Titans,6,RahulTewatia,not_out,15,14,1,1,107.14,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"
3267,T201566,Super Kings Vs Titans,Titans,7,RashidKhan,not_out,10,3,1,1,333.33,Super Kings,Titans,Titans,5 wickets,"Mar 31, 2023"

## According to the condition(min 60 balls faced in each season) let's first extract the season

In [13]:
bating_match['season'] = bating_match['matchDate'].str[-4:]

In [14]:
bating_match.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR,team1,team2,winner,margin,matchDate,season
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60,Super Kings,KKR,Super Kings,27 runs,"Oct 15, 2021",2021

In [15]:
filtered_bating_match = bating_match[['batsmanName','out/not_out','runs','balls','season']]

In [16]:
filtered_bating_match.head()

      batsmanName out/not_out  runs  balls season
0  RuturajGaikwad         out    32     27   2021
1    FafduPlessis         out    86     59   2021
2    RobinUthappa         out    31     15   2021
3        MoeenAli     not_out    37     20   2021
4     ShubmanGill         out    51     43   2021

## Getting the list of the batsman with minimum 60 balls faced in each season

In [17]:
filtered_bating_match.pivot_table(values='balls',index='batsmanName',columns='season',aggfunc='sum')

season            2021   2022   2023
batsmanName
ABdeVilliers     211.0    NaN    NaN
AaronFinch         NaN   61.0    NaN
AbdulBasith        NaN    NaN    1.0
AbdulSamad        87.0    7.0  128.0
AbhijeetTomar      NaN    8.0    NaN
...                ...    ...    ...
YashDayal          NaN    1.0    NaN
YashDhull          NaN    NaN   23.0
YashasviJaiswal  168.0  194.0  382.0
YudhvirSingh       NaN    NaN    2.0
YuzvendraChahal   27.0    8.0    NaN

[264 rows x 3 columns]

In [18]:
filtered_bating_match.pivot_table(values='balls',index='batsmanName',columns='season',aggfunc='sum').dropna()

season             2021   2022   2023
batsmanName
AbdulSamad         87.0    7.0  128.0
AbhishekSharma     69.0  320.0  157.0
AidenMarkram      119.0  274.0  197.0
AjinkyaRahane       8.0  128.0  189.0
AmbatiRayudu      170.0  224.0  113.0
...                 ...    ...    ...
ViratKohli        339.0  294.0  457.0
WaninduHasaranga    2.0   43.0   28.0
WashingtonSundar   47.0   69.0   60.0
WriddhimanSaha    140.0  259.0  287.0
YashasviJaiswal   168.0  194.0  382.0

[82 rows x 3 columns]

In [19]:
filtered_bating_match.pivot_table(values='balls',index='batsmanName',columns='season',aggfunc='sum').dropna().info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, AbdulSamad to YashasviJaiswal
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2021    82 non-null     float64
 1   2022    82 non-null     float64
 2   2023    82 non-null     float64
dtypes: float64(3)
memory usage: 2.6+ KB

In [20]:
filtered_bating_match.pivot_table(
    values='balls', index='batsmanName', columns='season', aggfunc='sum'
).dropna().query('`2021` >= 60 and `2022` >= 60 and `2023` >= 60')

season            2021   2022   2023
batsmanName
AbhishekSharma    69.0  320.0  157.0
AidenMarkram     119.0  274.0  197.0
AmbatiRayudu     170.0  224.0  113.0
AndreRussell     120.0  192.0  156.0
DavidMiller      113.0  337.0  178.0
DavidWarner      173.0  287.0  392.0
DeepakHooda      123.0  330.0   90.0
DevduttPadikkal  328.0  306.0  200.0
DineshKarthik    170.0  180.0  104.0
FafduPlessis     458.0  367.0  475.0
GlennMaxwell     356.0  178.0  218.0
HardikPandya     112.0  371.0  253.0
IshanKishan      180.0  348.0  318.0
JosButtler       166.0  579.0  282.0
KLRahul          451.0  455.0  242.0
KrunalPandya     123.0  145.0  164.0
MShahrukhKhan    114.0  108.0   94.0
ManishPandey     236.0   80.0  146.0
MarcusStoinis     70.0  106.0  268.0
MayankAgarwal    314.0  160.0  210.0
MoeenAli         260.0  177.0   91.0
NicholasPooran    76.0  212.0  176.0
NitishRana       314.0  251.0  293.0
PrithviShaw      262.0  185.0   85.0
QuintondeKock    256.0  341.0  102.0
RahulTripathi    283.0  261.0  213.0
RavindraJadeja   156.0   98.0  133.0
RiyanParag        83.0  132.0   66.0
RohitSharma      299.0  223.0  250.0
RuturajGaikwad   466.0  291.0  400.0
SanjuSamson      354.0  312.0  236.0
ShikharDhawan    445.0  375.0  261.0
ShimronHetmyer   142.0  204.0  197.0
ShivamDube       193.0  185.0  264.0
ShubmanGill      402.0  365.0  564.0
SuryakumarYadav  221.0  208.0  334.0
VenkateshIyer    288.0  169.0  277.0
ViratKohli       339.0  294.0  457.0
WriddhimanSaha   140.0  259.0  287.0
YashasviJaiswal  168.0  194.0  382.0

## Keeping only the batsman who has played atleast 60 balls in each seasons

In [21]:
filtered_bating_match.pivot_table(
    values='balls', index='batsmanName', columns='season', aggfunc='sum'
).dropna().query('`2021` >= 60.0 and `2022` >= 60.0 and `2023` >= 60.0').reset_index()

season      batsmanName   2021   2022   2023
0        AbhishekSharma   69.0  320.0  157.0
1          AidenMarkram  119.0  274.0  197.0
2          AmbatiRayudu  170.0  224.0  113.0
3          AndreRussell  120.0  192.0  156.0
4           DavidMiller  113.0  337.0  178.0
5           DavidWarner  173.0  287.0  392.0
6           DeepakHooda  123.0  330.0   90.0
7       DevduttPadikkal  328.0  306.0  200.0
8         DineshKarthik  170.0  180.0  104.0
9          FafduPlessis  458.0  367.0  475.0
10         GlennMaxwell  356.0  178.0  218.0
11         HardikPandya  112.0  371.0  253.0
12          IshanKishan  180.0  348.0  318.0
13           JosButtler  166.0  579.0  282.0
14              KLRahul  451.0  455.0  242.0
15         KrunalPandya  123.0  145.0  164.0
16        MShahrukhKhan  114.0  108.0   94.0
17         ManishPandey  236.0   80.0  146.0
18        MarcusStoinis   70.0  106.0  268.0
19        MayankAgarwal  314.0  160.0  210.0
20             MoeenAli  260.0  177.0   91.0
21       NicholasPooran   76.0  212.0  176.0
22           NitishRana  314.0  251.0  293.0
23          PrithviShaw  262.0  185.0   85.0
24        QuintondeKock  256.0  341.0  102.0
25        RahulTripathi  283.0  261.0  213.0
26       RavindraJadeja  156.0   98.0  133.0
27           RiyanParag   83.0  132.0   66.0
28          RohitSharma  299.0  223.0  250.0
29       RuturajGaikwad  466.0  291.0  400.0
30          SanjuSamson  354.0  312.0  236.0
31        ShikharDhawan  445.0  375.0  261.0
32       ShimronHetmyer  142.0  204.0  197.0
33           ShivamDube  193.0  185.0  264.0
34          ShubmanGill  402.0  365.0  564.0
35      SuryakumarYadav  221.0  208.0  334.0
36        VenkateshIyer  288.0  169.0  277.0
37           ViratKohli  339.0  294.0  457.0
38       WriddhimanSaha  140.0  259.0  287.0
39      YashasviJaiswal  168.0  194.0  382.0

In [22]:
bater_min_60_balls = filtered_bating_match.pivot_table(
    values='balls', index='batsmanName', columns='season', aggfunc='sum'
).dropna().query('`2021` >= 60.0 and `2022` >= 60.0 and `2023` >= 60.0').reset_index()

## Now keeping only the batsman from the main dataframe who has played minimum 60 balls

In [23]:
filtered_bating_match['batsmanName'].isin(bater_min_60_balls['batsmanName'])

0        True
1        True
2       False
3        True
4        True
        ...
3263    False
3264     True
3265    False
3266    False
3267    False
Name: batsmanName, Length: 3268, dtype: bool

## To get the actual dataframe of the batsman with min 60 balls played with all the details

In [24]:
filtered_bating_match[filtered_bating_match['batsmanName'].isin(bater_min_60_balls['batsmanName'])]

         batsmanName out/not_out  runs  balls season
0     RuturajGaikwad         out    32     27   2021
1       FafduPlessis         out    86     59   2021
3           MoeenAli     not_out    37     20   2021
4        ShubmanGill         out    51     43   2021
5      VenkateshIyer         out    50     32   2021
...              ...         ...   ...    ...    ...
3257      ShivamDube         out    19     18   2023
3258  RavindraJadeja         out     1      2   2023
3261  WriddhimanSaha         out    25     16   2023
3262     ShubmanGill         out    63     36   2023
3264    HardikPandya         out     8     11   2023

[1498 rows x 5 columns]

In [25]:
batsman_stats = filtered_bating_match[filtered_bating_match['batsmanName'].isin(bater_min_60_balls['batsmanName'])]

## To calculate total runs and total dismissals for each batsman

In [26]:
batsman_stats_dismissals = filtered_bating_match.groupby('batsmanName').agg(
    total_runs=('runs', 'sum'),
    dismissals=('out/not_out', lambda x: x[x == 'out'].count())
).reset_index()

In [27]:
batsman_stats_dismissals

         batsmanName  total_runs  dismissals
0       ABdeVilliers         313          10
1         AaronFinch          86           5
2        AbdulBasith           1           0
3         AbdulSamad         284          15
4      AbhijeetTomar           4           1
..               ...         ...         ...
259        YashDayal           0           1
260        YashDhull          16           3
261  YashasviJaiswal        1132          33
262     YudhvirSingh           1           2
263  YuzvendraChahal          15           1

[264 rows x 3 columns]

## getting rid of the batsmans that played lass number of matches

In [28]:
batsman_stats_dismissals=batsman_stats_dismissals.query('dismissals > 3')

In [30]:
batsman_stats_average = batsman_stats_dismissals.copy()
batsman_stats_average['batting_average'] = batsman_stats_average['total_runs'] / batsman_stats_average['dismissals']
#batsman_stats.loc[:,'batting_average'] = batsman_stats['total_runs'] / batsman_stats['dismissals']

In [31]:
batsman_stats_average

          batsmanName  total_runs  dismissals  batting_average
0        ABdeVilliers         313          10        31.300000
1          AaronFinch          86           5        17.200000
3          AbdulSamad         284          15        18.933333
5      AbhinavManohar         222          12        18.500000
6      AbhishekSharma         745          30        24.833333
..                ...         ...         ...              ...
251        ViratKohli        1385          41        33.780488
255  WaninduHasaranga          72          10         7.200000
256  WashingtonSundar         192          15        12.800000
258    WriddhimanSaha         819          35        23.400000
261   YashasviJaiswal        1132          33        34.303030

[144 rows x 4 columns]

In [31]:
batsman_stats.sort_values(by='batting_average',ascending=False).head(20)

         batsmanName  total_runs  dismissals  batting_average
97           KLRahul        1516          30        50.533333
35      CameronGreen         452           9        50.222222
188       RinkuSingh         648          13        49.846154
78   HeinrichKlaasen         448           9        49.777778
55       DevonConway         924          19        48.631579
199     SaiSudharsan         507          11        46.090909
66      FafduPlessis        1831          42        43.595238
47       DavidMiller         864          20        43.200000
95        JosButtler        1509          36        41.916667
217   ShimronHetmyer         854          21        40.666667
178     RajatPatidar         404          10        40.400000
222      ShubmanGill        1851          46        40.239130
216    ShikharDhawan        1392          35        39.771429
235       TilakVarma         740          19        38.947368
197   RuturajGaikwad        1593          42        37.928571
48       DavidWarner        1137          30        37.900000
230  SuryakumarYadav        1225          35        35.000000
69      GlennMaxwell        1214          35        34.685714
261  YashasviJaiswal        1132          33        34.303030
172    QuintondeKock         948          28        33.857143

## 3. Top 10 batsmen based on past 3 years strike rate (min 60 balls faced in each season)

In [32]:
batsman_stats

         batsmanName out/not_out  runs  balls season
0     RuturajGaikwad         out    32     27   2021
1       FafduPlessis         out    86     59   2021
3           MoeenAli     not_out    37     20   2021
4        ShubmanGill         out    51     43   2021
5      VenkateshIyer         out    50     32   2021
...              ...         ...   ...    ...    ...
3257      ShivamDube         out    19     18   2023
3258  RavindraJadeja         out     1      2   2023
3261  WriddhimanSaha         out    25     16   2023
3262     ShubmanGill         out    63     36   2023
3264    HardikPandya         out     8     11   2023

[1498 rows x 5 columns]

In [35]:
batsman_stats.groupby('batsmanName').agg(
    total_runs=('runs', 'sum'),
    total_balls=('balls', 'sum'))

                 total_runs  total_balls
batsmanName
AbhishekSharma          745          546
AidenMarkram            775          590
AmbatiRayudu            689          507
AndreRussell            745          468
DavidMiller             864          628
DavidWarner            1137          852
DeepakHooda             695          543
DevduttPadikkal        1048          834
DineshKarthik           693          454
FafduPlessis           1831         1300
GlennMaxwell           1214          752
HardikPandya            960          736
IshanKishan            1113          846
JosButtler             1509         1027
KLRahul                1516         1148
KrunalPandya            514          432
MShahrukhKhan           426          316
ManishPandey            540          462
MarcusStoinis           645          444
MayankAgarwal           907          684
MoeenAli                725          528
NicholasPooran          729          464
NitishRana             1157          858
PrithviShaw             815          532
QuintondeKock           948          699
RahulTripathi          1083          757
RavindraJadeja          533          387
RiyanParag              354          281
RohitSharma             981          772
RuturajGaikwad         1593         1157
SanjuSamson            1304          902
ShikharDhawan          1392         1081
ShimronHetmyer          854          543
ShivamDube              937          642
ShubmanGill            1851         1331
SuryakumarYadav        1225          763
VenkateshIyer           956          734
ViratKohli             1385         1090
WriddhimanSaha          819          686
YashasviJaiswal        1132          744

In [36]:
batsman_stats_strike = batsman_stats.groupby('batsmanName').agg(
    total_runs=('runs', 'sum'),
    total_balls=('balls', 'sum'))

In [37]:
batsman_strike_rate = batsman_stats_strike.copy()

In [38]:
batsman_strike_rate['strike_rate'] = batsman_strike_rate['total_runs']/batsman_strike_rate['total_balls']

In [41]:
batsman_strike_rate.sort_values(by='strike_rate',ascending=False).head(10)

                 total_runs  total_balls  strike_rate
batsmanName
GlennMaxwell           1214          752     1.614362
SuryakumarYadav        1225          763     1.605505
AndreRussell            745          468     1.591880
ShimronHetmyer          854          543     1.572744
NicholasPooran          729          464     1.571121
PrithviShaw             815          532     1.531955
DineshKarthik           693          454     1.526432
YashasviJaiswal        1132          744     1.521505
JosButtler             1509         1027     1.469328
ShivamDube              937          642     1.459502

## Top 10 bowlers based on past 3 years total wickets taken